* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* PRIMARY COLORS */
  --BLACK-50: #e7e7e7;
  --BLACK-100: #b3b4b5;
  --BLACK-200: #8f8f91;
  --BLACK-300: #5c5c5e;
  --BLACK-400: #3c3d3f;
  --BLACK-500: #0b0c0f;
  --BLACK-600: #0a0b0e;
  --BLACK-700: #08090b;
  --BLACK-800: #060708;
  --BLACK-900: #050506;

  /* SECONDARY COLORS */
  --S-LIGHT: #fff;
  --S-LIGHT-HOVER: #fff;
  --S-LIGHT-ACTIVE: #fff;
  --S-NORMAL: #fff;
  --S-NORMAL-HOVER: #e6e6e6;
  --S-NORMAL-ACTIVE: #ccc;
  --S-DARK: #bfbfbf;
  --S-DARK-HOVER: #999;
  --S-DARK-ACTIVE: #737373;
  --S-DARKER: #595959;

  /* ACCENT COLORS */
  --A-LIGHT: #e7f4fd;
  --A-LIGHT-HOVER: #dbeefc;
  --A-LIGHT-ACTIVE: #b4dbf8;
  --A-NORMAL: #0c8ce9;
  --A-NORMAL-HOVER: #0b7ed2;
  --A-NORMAL-ACTIVE: #0a70ba;
  --A-DARK: #0969af;
  --A-DARK-HOVER: #07548c;
  --A-DARK-ACTIVE: #053f69;
  --A-DARKER: #043152;

  /* ERROR COLORS */
  --E-LIGHT: #f9ece8;
  --E-LIGHT-HOVER: #f7e2dd;
  --E-LIGHT-ACTIVE: #eec3b9;
  --E-NORMAL: #c73f1d;
  --E-NORMAL-HOVER: #b3391a;
  --E-NORMAL-ACTIVE: #9f3217;
  --E-DARK: #952f16;
  --E-DARK-HOVER: #772611;
  --E-DARK-ACTIVE: #5a1c0d;
  --E-DARKER: #46160a;

  /* SUCCESS COLORS */
  --SS-LIGHT: #edf8ec;
  --SS-LIGHT-HOVER: #e4f4e3;
  --SS-LIGHT-ACTIVE: #c7e8c5;
  --SS-NORMAL: #4bb543;
  --SS-NORMAL-HOVER: #44a33c;
  --SS-NORMAL-ACTIVE: #3c9136;
  --SS-DARK: #388832;
  --SS-DARK-HOVER: #2d6d28;
  --SS-DARK-ACTIVE: #22511e;
  --SS-DARKER: #1e3f17;

  /* WARNING COLORS */
  --W-LIGHT: #fffae6;
  --W-LIGHT-HOVER: #fff7d9;
  --W-LIGHT-ACTIVE: #ffefb0;
  --W-NORMAL: #ffcc00;
  --W-NORMAL-HOVER: #e6b800;
  --W-NORMAL-ACTIVE: #cca300;
  --W-DARK: #bf9900;
  --W-DARK-HOVER: #997a00;
  --W-DARK-ACTIVE: #735c00;
  --W-DARKER: #594700;
}
body {
  font-family: "Ubuntu", sans-serif;
  background-color: rgba(11, 12, 15, 255);
  width: 100%;
}
header {
  background-color: var(--BLACK-500);
  display: flex;
  margin-bottom: 100px;
  align-items: center;
  padding: 10px 70px;
}
header img {
  display: flex;
}

.container {
  margin: 50px 80px;
  background-color: rgba(11, 12, 15, 255);
}
#general-box {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  border-radius: 10px;
  justify-content: center;
  margin-bottom: 80px;
  padding-left: 40px;
  border: 1px solid hwb(0 50% 50%);
  position: relative;
}
#Customise-box {
  margin-top: 30px;
  margin-bottom: 30px;
}
.second-box {
  right: 40px;
  position: absolute;
  top: 0;
  margin-top: 105px;
}
.header {
  color: white;
  font-weight: 500;
  font-size: 40px;
  margin-top: 30px;
}
.chioce {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}

button {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(12, 140, 233, 255);
  color: white;
  margin-top: 30px;
  text-align: center;
  justify-content: center;
}

.selector select {
  margin-bottom: 20px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  width: 350px;
  height: 40px;
  padding: 20px;
  border-radius: 2px;
  padding: 10px;
  font-size: 13px;
  font-weight: 400;
  appearance: none;
  cursor: pointer;
  font-family: "overpass", sans-serif;
}
.selector {
  position: relative;
}
option {
  background-color: rgba(11, 12, 15, 255);
  line-height: 20px;
  font-size: 12px;
}
svg {
  display: flex;
  position: relative;
  left: 320px;
  top: 25px;
  cursor: pointer;
  pointer-events: none;
}

.all-option {
  display: none;
}
footer {
  height: 387px;
  background-color: rgba(5, 5, 6, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  color: white;
}

footer .footer-container1 {
  display: flex;
  gap: 1rem;
}
footer .footer-container1 .heading-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
footer .ft {
  padding: 10px 0;
}
footer .heading {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}
.foot {
  width: 100%;
  padding: 0 80px;
}
footer img {
  width: 50px;
  height: 50px;
}
footer .footer-container1 .last {
  flex: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .footer-container1 .last .socials {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.footer-container2 {
  padding-top: 30px;
  border-top: 1px solid var(--BLACK-300);
  display: flex;
  justify-content: space-between;
}
.footer-container2 .bottomleft {
  display: flex;
  justify-content: space-between;
}

.footer-container2 .bottomleft .items {
  padding: 0px 30px;
}
.footer-container2 .bottom {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--A-NORMAL);
}
.footer-container2 .bottomleft .two {
  border-right: 1px solid var(--BLACK-300);
  border-left: 1px solid var(--BLACK-300);
}
footer a,
a:visited,
a:hover,
a:active {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--A-NORMAL);
  text-decoration: none;
}
@media (max-width: 600px) {
  body {
    width: 100%;
    background-color: rgba(11, 12, 15, 255);
    box-sizing: border-box;
  }
  header {
    display: flex;
    margin: 0;
    padding: 10px 30px;
    background-color: rgba(5, 5, 6, 255);
  }
  header img {
    height: 20px;
  }
  .container {
    width: 100%;
    display: block;
    margin: 0;
  }
  #general-box {
    border: none;
    margin: 0 auto;
    padding: 30px;
  }
  #Customise-box {
    border: 1px solid hwb(0 50% 50%);
    color: white;
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px 30px;
  }
  .second-box {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    right: 0;
    position: relative;
  }
  .header {
    text-align: center;
    font-size: 30px;
    color: white;
    word-spacing: 2px;
    margin-top: 50px;
  }
  .chioce {
    color: white;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
  }
  .selector select {
    border: 1px solid white;
    background-color: transparent;
    position: relative;
    color: white;
    height: 30px;
    padding: 0 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 2px;
    font-weight: 400;
    font-size: 12px;
    font-weight: 200;
    display: flex;
    align-items: center;
  }

  .selector {
    position: relative;
  }

  button {
    width: 100%;
    text-align: center;
    height: 30px;
    position: absolute;
    margin-top: 60px;
    border-radius: 5px;
    background-color: rgba(12, 140, 233, 255);
    color: white;
    text-align: center;
    cursor: pointer;
  }
  svg {
    position: relative;
    top: 20px;
    left: 88%;
    cursor: pointer;
    pointer-events: none;
  }
  .foot {
    padding: 20px;
  }

  footer {
    padding: 20px;
    margin-top: 50px;
    height: 535px;
    gap: 1.5rem;
  }
  footer img {
    width: 30px;
    height: 30px;
  }
  footer .footer-container1 {
    width: 100%;
    height: 400px;
    display: grid;
    gap: none;
    grid-template-columns: repeat(2, 1fr);
  }
  footer .heading h2 {
    font-size: 16px;
    line-height: 24px;
  }
  footer .ft {
    padding: 5px;
  }
  /*last*/
  footer .footer-container1 .last .socials {
    display: flex;
    justify-content: space-between;
    flex: 0;
  }
  footer .footer-container1 .last {
    flex: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer-container2 {
    display: flex;
    width: 100%;
    height: 82px;
    flex-direction: column;
    padding: 10px;
    justify-content: unset;
  }

  .footer-container2 .bottomleft .items {
    padding: 0px 10px;
  }
  .footer-container2 .bottom {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 20px;
  }

  footer a,
  a:visited,
  a:hover,
  a:active {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}
